mat-grid-tile {
    background: lightblue;
  }

  mat-grid-tile:hover {
    background: lightgreen;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    cursor: pointer;
}

