<mat-toolbar>
    <span (click)="goBack()" style="cursor: pointer;">My App</span>
    <span class="example-spacer"></span>
    <button (click)="openLocation()">
      <div>Location</div>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="openEpisodes()">
      <div>Episodes</div>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="openCharacter()">
      <div>Character</div>
    </button>
  </mat-toolbar>